@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 14px 10px;
    pointer-events: none;
}


body {
    background: url('/BK/asset/img/back2.png')  repeat center center fixed;
    background-color: #ffffff;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
}

#loginTitle{
    text-align: center;
}

#loginForm{
    font-family: 'Ruda', sans-serif;
    margin: 100px auto;
    max-width: 366px;
    background-color: #f9f9f9;
}

#loginBody{
    margin: 100px auto;
    max-width: 366px;
    border: 4px solid #37BC9B;
    border-radius: 10px;
}

form[role=login] {
    font: 18px/1.6em Lato, serif;
    color: #d5d5d5;
    background: #fff;
}   
    form[role=login] h3 {
        font-size: 24px;
        color: #0b2344;
        margin-bottom: 20px;
    }
    form[role=login] input,
    form[role=login] button {
        font-size: 16px;
        margin: 5px 0;
    }
    form[role=login] input {
        color: #333333;
        background: #fff;
        box-shadow: none;
        margin: 25px 0;
    }
        form[role=login] input::-webkit-input-placeholder {
            color: #c1c4c5;
        }
        form[role=login] input:-moz-placeholder {
            color: #c1c4c5;
        }
        form[role=login] input::-moz-placeholder {
            color: #c1c4c5;
        }
        form[role=login] input:-ms-input-placeholder {  
            color: #c1c4c5;
        }
        
    form[role=login] > div {
        margin-top: 20px;
    }
        form[role=login] > div a {
            font-size: 15px;
            text-decoration: underline;
        }

    #catatanKaki{
        font-size: 12px;
        text-align: center;
    }